#menuconfig option
config MAX7219_LED_MATRIX
    bool "MAX7219 driver (for 8x8 LED matrix)"
    default n           #disabled by default
    depends on SPI      #SPI driver must be enabled
    help
        Enable MAX7219 driver for 8x8 LED matrix.