/ {
    aliases{
        led-matrix = &led_matrix0;
    };
};


&spi1 {

    status = "okay";    

    led_matrix0: max7219@0 {
        compatible = "adi,max7219";
        status = "okay";
        reg = <0>;
        spi-max-frequency = <100000>;
        intensity = <15>;
    };

};